<%= react_component("JumbotronPageHeader", {header: "Hi, #{@user.username}!"}) %>

<h2>Followed Events</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Event</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <%@event_follows.sort_by { |event_follow| event_follow.event.event_time_utc }.each do |event_follow|%>
    <% event = event_follow.event %>
    <tr class="table-secondary">
      <td>
        <%=event.local_start_time.strftime('%m/%d/%y %I:%M %p %Z') %>
      </td>
      <td>
        <%= link_to "#{event.name}", event.url %>
      </td>
      <td>
        Starting at $<%=event.last_240_prices.last["price"]%>    
      </td>
      <td>
        <%= link_to "Unfollow", event_follow_path(event_follow.id), method: :delete %>  
      </td>
    </tr>
  <%end%>
  </tbody>
</table>
