<div>
  <h2><%= @event.name %></h2>
  <div>
    <%= link_to "Purchase Tickets on SeatGeek", @event.url %>
  </div>
  <div>
    Starting at $<%= @event.price_curr %>
  </div>
  <div id="eventTime"></div>
  <h5>
    <%= link_to "Back to all #{@performer.name} events", performer_path(params[:performer_id]) %>
  </h5>
  <% if user_signed_in? %>
    <%= react_component("ButtonLink", 
      {path: '/',
      method: "get",
      buttonText: "Follow this event"}
    )%>
  <% end %>
  
</div>

<script>

  function getLocalTime(dateTime) {
    const d = new Date(dateTime);
    return d;
  }

  var date_obj = new Date("<%= @event.event_time_utc.to_datetime %>");
  const dateTime = document.getElementById("eventTime");
  dateTime.innerHTML = getLocalTime(date_obj);

</script>
