<!DOCTYPE html>
<html>
  <head>
    <title>TicketAlert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <!-- Optional JavaScript -->
    <script src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://naver.github.io/billboard.js/release/latest/dist/billboard.min.js"></script>
    <link rel="stylesheet" href="https://naver.github.io/billboard.js/release/latest/dist/billboard.min.css">

  </head>

  <body>
    <% performers = Performer.where.not({division: [nil]})
      .as_json(:only => [:taxonomy, :division, :slug, :id]) %>
    <%= react_component("MainNavbar",
      image_urls: performers.collect{|performer| "/logos/#{performer["slug"]}.svg"},
      performers: performers,
      crsf_token: form_authenticity_token,
      currentUser: current_user
      ) %>
    <div class="container">
      <% if (notice) %>
        <%= react_component("Notification", {variant: "success", text: notice} ) %>
      <% end %>
      <% if (alert) %>
        <%= react_component("Notification", {variant: "danger", text: alert} ) %>
      <% end %>
      <%= yield %>
    </div> 
    <%= react_component("Footer")%>
  </body>
</html>

